     body{
        display: flex;
     }
     /* Estilo para todos los divs */
      div {
        width: 300px;
        height: 100px;
        padding: 20px;
        margin: 20px;
      }
      /* Bordes sólidos */
      #solid {
        border: 5px solid black;
      }
      /* Bordes punteados */
      #dotted {
        border: 5px dotted black;
      }
      /* Bordes con líneas dobles */
      #double {
        border: 5px double black;
      }
      /* Bordes en relieve */
      #groove {
        border: 5px groove black;
      }
      /* Bordes en relieve invertido */
      #ridge {
        border: 5px ridge black;
      }
      /* Bordes con puntos y guiones */
      #dashed {
        border: 5px dashed black;
      }
      /* Bordes con una imagen */
      #image {
        border: 10px solid ;
        border-image: url('img/border-image.png') 20 round;
      }
      .container{
        display: block;
      }