      /* Estilos para el formulario */
      form {
        max-width: 500px;
        margin: 0 auto;
        font-family: Arial, sans-serif;
      }

      label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }

      input[type="text"],
      input[type="email"],
      input[type="password"],
      textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 16px;
        font-family: inherit;
      }

      input[type="radio"],
      input[type="checkbox"] {
        margin-right: 10px;
      }

      input[type="submit"] {
        background-color: #008CBA;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
      }

      input[type="submit"]:hover {
        background-color: #006A8E;
      }
      h1{
        text-align: center;
      }