.box{
    width: 400px;
    height: 400px;
    background-color: rgb(11, 219, 226);
    margin: 10px;
    color: rgb(241, 243, 245);
    font-size: 3vh;
}
h1{
    text-align: center;
    font-size: 4vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    text-align: center;
    font-size: 3.5vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box-direction{
    display: flex;
    background-color: rgba(80, 242, 253, 0.801);
    flex-direction: row;
}
.box-wrap{
    display: flex;
    background-color: rgba(80, 253, 123, 0.801);
    flex-direction: row;
    flex-flow: wrap;
}
.box-no-wrap{
    display: flex;
    background-color: rgb(90, 47, 126);
    flex-flow: row nowrap;
}
.box-wrap-continuo{
    display: flex;
    flex-flow: column wrap;
    background-color: darkcyan;
    height: 450px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.as{
    margin: 15px;
}
.box-space-between{
    display: flex;
    background-color: rgb(33, 216, 16);
    justify-content: space-between;
}
.box-space-around{
    display: flex;
    background-color: azure;
    justify-content: space-around;
}
.box-space-enenly{
    display: flex;
    background-color: yellowgreen;
    justify-content: space-evenly;
}
.box-flex-star{
    display: flex;
    background-color: rgb(65, 152, 233);
    justify-content: flex-start;
}
.box-flex-end{
    display: flex;
    margin-top: 10px;
    background-color: white;
    justify-content: flex-end;
    flex-flow: row-reverse;
}
.box-flex-center{
    display: flex;
    background-color: unset;
    justify-content: center;
    flex-flow: row-reverse;
}
.box-aling-star{
    display: flex;
    background-color: rgb(20, 109, 199);
    justify-content: start;
}
.box-41{
    height: 300px;
}
.box-43{
    height: 250px;
}
.box-42{
    height: 500px;
}
.box-alaing-end{
    display: flex;
    background-color: rgb(253, 253, 253);
    align-items: flex-end;
    justify-content: center;
    border-bottom: 2px solid rgb(rgb(56, 56, 56), green, blue);
    width: 750px;
    box-shadow: 0 2px 5px rgb(182, 38, 38);
    border-bottom: 4px solid rgb(16, 25, 27);
}
.box-box-aling{
    width: 130px;
    background-color: blue;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-main-grafica{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 500px;
}
.leyenda-barras {
    font-size: 1.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
}
.box-grafica {
    border-left: 2px solid black;
    background-color: rgb(255, 255, 255);
    width: 500px;
}
.linea-hr{
    position: absolute;
    width: 500px;
    z-index: 10;
}
.linea100{
    margin-top: 0;
}
.linea80{
    margin-top: 100px;
}
.linea60{
    margin-top: 200px;
}
.linea40{
    margin-top: 300px;
}
.linea20{
    margin-top: 400px;
}
.linea00{
    margin-top: 500px;
}
.barra{
    z-index: 1;
    background-color: dodgerblue;
    width: 80px;
    margin-left: 30px;
}
.barra-grafica{
    display: flex;
    align-items: flex-end;
    height: 500px;
}
.barra1{
    z-index: 11;
height: 150px;
}
.barra2{
    z-index: 11;
    height: 180px;
}
.barra3{
    z-index: 11;
    height: 430px;
}
.barra4{
    z-index: 11;
    height: 355px;
}
