*{
    margin: 0;
    padding: 0;
}
.none-bot{
    display: none;
}
.ana-look{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bot-ana {
    padding-left: 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgb(16, 16, 159);
    height: 40px;
    width: 120px;
    cursor: pointer;
    animation: changeWidth1 0.2s linear;
}
@keyframes changeWidth1 {
        0% {
        width: 40px;
    }
    100% {
        width: 120px;
    }

}


.ana-help{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.bot-img{
    height: 60px;
    position: relative;
    bottom: 10px;
}
.bot-ana-circle{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 330px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: blue;
    border: 1px solid blue;
     animation: changeWidth2 0.2s linear;
}
@keyframes changeWidth2 {
    0% {
        border-radius: 25px;
        width: 120px;
    }
    100% {
        width: 40px;
    }
}
.bot-ana-circle:hover{
    background-color: white;
}
.bot-ana-circle:hover .ana-txt{
    color: black;
}
.ana-txt{
    color: wheat;
    font-size: 1.5em;
    font-weight: 900;
}
.chat-ana{
    width: 470px;
    border-radius: 25px;
    background-color: rgb(234, 238, 243);
    position: fixed;
    bottom: 73px;
    right: 30px;
    animation: openChat 0.5s linear;
}
@keyframes openChat {
    0%{
        height: 0px;
        opacity: 0;
    }
    100%{
        height: 470px;
        opacity: 1;
    }
}
.chat-head{
    border-radius:13px 0px ;
    background-color: rgb(0, 93, 173);
    height: 60px;
    display: flex;
    align-items: center;
}
.img-chat-head{
    position: relative;
    left: 10px;
}
.ana-chat-head{
    width: 50px;
    background-color: white;
}
.head-text{
    color: white;
    margin-left: 30px;
    font-style: initial;
}
/* editar el cuerpo del chat con Ana */
.chat-body{
    border-radius: 25px;
    height: 100%;
    width: 100%;
    background-color: rgb(234, 238, 243);
}
.ana-chat-body{
    width: 100px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 40px;
}
.div-text1{
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    margin: 5px 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 220px;
}
.div-text2{
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    margin: 10px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.textN2-1{
    color: rgb(0, 132, 255);
    text-align: center;
}
.textN2-2{
    margin: 5px 10px 20px 10px;
    font-size: 13px;
    text-align: center;
}
.text2-toGo{
    padding: 10px;
    text-align: center;
    border-top: 1px solid;
    color: rgb(56, 3, 188);
}
.text2-toGo:hover{
    color: white;
    background-color: rgb(172, 175, 255);
    border-radius: 0px 0px 13px 13px;
}
.text-imput{
    border-top: 2px solid;
    width: 100%;
}
.writeHere{
    border: none;
    width: 99%;
    height: 50px;
    border-radius: 0px 0px 13px 13px;
}
.writeHere:focus{
    outline: none;
}
.chat-ana-empty {
    width: 470px;
    border-radius: 25px;
    background-color: rgb(234, 238, 243);
    position: fixed;
    bottom: 73px;
    right: 30px;
    height: 0;
    opacity: 0; /* Inicialmente oculto */
    animation: closeChat 0.5s linear;
}

@keyframes closeChat {
    0% {
        height: 470px;
        opacity: 1; /* Comienzo de la animación: totalmente visible */
    }

    100% {
        height: 0;
        opacity: 0; /* Final de la animación: totalmente oculto */
    }
}








@media only screen and (min-width: 1021px){
.container{
    gap: 0px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template: "empty-l         house       glass         locat         shop        points        user      empty-h" 75px/
                    0.2fr           210px        1fr          200px         70px        130px        70px       0.2fr;
}
.bars{
display: none;
}
.house{
    grid-area: house;  

}
.imgHome{
    display: none;
}
.cmr-img{
    width: 40px;
}
.glass{
    grid-area: glass;
    position: relative;
    border: 1px solid black;
    border-radius: 13px;
}
.fa-location-dot{
    position: relative;
    top: 10px;
}
.locat{
    grid-area: locat;
    position: relative;
    left: 20px;
}
.locate{
    position: relative;
    left: 27px;
    color: blue;
}
.car-shop{
    grid-area: shop;
}
.cmrPoints{
    grid-area: points;
    display: flex;
}
.user{
    grid-area: user;
}
.bars, .glass, .car-shop, .user, .fa-location-dot{
    font-size: 35px;
    text-align: center;
}
.none{
    display: none;
}
.find{

    gap: 0px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template: "glass2      space-text      exit"50px/
                    30px        1fr             30px;
}
.glass2{
    grid-area: glass2;
    margin-left: 5px;
}
.pace-text{
    grid-area: space-text;
}
.exit{
    grid-area: exit;
}
.find-text{
    border: none;
}
.find-text:focus{
    outline: none;
}  
}
@media only screen and (min-width: 770px) and (max-width: 1020px) {
    .img-remove{
        display: none;
    }
.container{
    gap: 0px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template: "bars        house       glass       shop        points        user" 75px/
                    70px        70px        1fr        70px        130px        70px;
}
.bars{
    margin-left: 3px;
    grid-area: bars;
}
.house{
    grid-area: house;  
}
.imgHome, .cmr-img{
    width: 40px;
}
.glass{
    grid-area: glass;
    border: 1px solid black;
    border-radius: 13px;
}
.car-shop{
    grid-area: shop;
}
.cmrPoints{
    grid-area: points;
    display: flex;
}
.user{
    grid-area: user;
}
.bars, .glass, .car-shop, .user{
    font-size: 35px;
    text-align: center;
}
.none{
    display: none;
}
.find{

    gap: 0px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template: "glass2      space-text      exit"50px/
                    30px        1fr             30px;
}
.glass2{
    grid-area: glass2;
    margin-left: 5px;
}
.pace-text{
    grid-area: space-text;
}
.exit{
    grid-area: exit;
}
.find-text{
    border: none;
}
.find-text:focus{
    outline: none;
}
}
@media only screen and (min-width:0px) and (max-width: 770px) {
    .img-remove{
        display: none;
    }
    .remove{
        display: none;
    }
    .container{
        gap: 0px;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template: "bars        house       glass       shop        user" 75px/
                        70px        70px        1fr        70px        70px;
    }
    .bars{
        margin-left: 3px;
        grid-area: bars;
    }
    .house{
        grid-area: house;  
    }
    .imgHome{
        width: 40px;
    }
    .glass{
        grid-area: glass;
    }
    .car-shop{
        grid-area: shop;
    }
    .user{
        grid-area: user;
    }
    .bars, .glass, .car-shop, .user{
        font-size: 35px;
        text-align: center;
    }
    .none{
        display: none;
    }
    .find{
    
        gap: 0px;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template: "glass2      space-text      exit"50px/
                        30px        1fr             30px;
    }
    .glass2{
        grid-area: glass2;
        margin-left: 5px;
    }
    .pace-text{
        grid-area: space-text;
    }
    .exit{
        grid-area: exit;
    }
    .find-text{
        border: none;
    }
    .find-text:focus{
        outline: none;
    }
}