body{
    background-color: rgb(233, 233, 233);
}
* {
    padding: 0%;
    margin: 0%;
}

.box-img{
    justify-content: center;
    text-align: left;
}
.box-personal{
    justify-content: center;
    text-align: center;
}


.img-100{
    width:25%;
}

.h {
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}
.t{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 2em;
}
.a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
}
