* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
 }

@media only screen and (min-width: 1051px) {
  .container {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template:
                  'empty-l    text      text         foto          empty-r'
                  1fr         200px     350px       300px          1fr;
  }
  .info {
    grid-area: text;
    width: fit-content;
  }

  .infoDiv{
    display: grid;
    grid-template: 
                    'title'
                    'name'/
                    1fr;
  }

  .nameDiv{
    grid-area: name;
  }
  .textTitle{
    grid-area: title;
  }
  
  .foto {
    grid-area: foto;
    background-color: #f90047;
  }
  
  .imgFoto {
    border-radius: 59px;
    width: 350px;
  }
  
  .name {
    padding-top: 30px;
    grid-area: name;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: #d3d3d3;
    font-size: 6vh;
  }
  
  .title {
    color: #fefefe; /* Naranja suave */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vh;
    font-weight: 900;
  }
  
  a {
    text-decoration: none;
    padding: 5px;
    color: #fefefe;
  }
  
  .languages {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.3em;
    color: #f90047; /* Gris medio */
  }
  
  .auto-type {
    color: #ffffff; /* Naranja brillante */
    font-size: 3vh;
    border-bottom: 6px double #ffffff;
  }
  
  .items{
    margin-top: 30px;
    width: 40%;
      display: inline-flex;
      height: 40px;
      border-bottom: 3px double rgb(100, 166, 2);
      border-radius: 13px;
      margin-right: 9.3%;
      margin-bottom: 3px;
      transition: 1s; 
  }
  .items:hover{
      background-color: #ffffffdd;
      border-top: 3px  solid greenyellow;
      border-bottom: 3px solid greenyellow;
      transform: scale(1.1);
  }
}

@media only  screen and (max-width: 1050px){

  
  .container {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template:
                  'empty-h    empty-h   empty-h      empty-h       empty-h' 30pX
                  'empty-l    text      text         text          empty-r'
                  'empty-l    empty-c   empty-c      empty-c       empty-r' 100px
                  'empty-l    emptyFl   foto         emptyFr       empty-r' 350px/
                  1.1fr         200px     350px        200px        0.1fr;
  }
  .info {
    grid-area: text;
  }

  .infoDiv{
    display: grid;
    grid-template: 
                    'title'
                    'name'/
                    1fr;
  }

  .nameDiv{
    grid-area: name;
  }
  .textTitle{
    grid-area: title;
  }
  
  .foto {
    grid-area: foto;
  }
  
  .imgFoto {
    border-radius: 59px;
    width: 350px;
  }
  
  .name {
    padding-top: 30px;
    grid-area: name;
    font-family: 'Arial Narrow Bold', sans-serif;
    color: #d3d3d3;
    font-size: 6vh;
  }
  
  .title {
    color: #fefefe; /* Naranja suave */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6vh;
    font-weight: 900;
  }
  
  a {
    text-decoration: none;
    padding: 5px;
    color: #fefefe;
  }
  
  .languages {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.3em;
    color: #f90047; /* Gris medio */
  }
  
  .auto-type {
    color: #ffffff; /* Naranja brillante */
    font-size: 3vh;
    border-bottom: 6px double #ffffff;
  }
  
  .items{
    margin-top: 30px;
    width: 40%;
      display: inline-flex;
      height: 40px;
      border-bottom: 3px double rgb(100, 166, 2);
      border-radius: 13px;
      margin-right: 9.3%;
      margin-bottom: 3px;
      transition: 1s; 
  }
  .items:hover{
      background-color: #ffffffdd;
      border-top: 3px  solid greenyellow;
      border-bottom: 3px solid greenyellow;
      transform: scale(1.1);
  }
  
  }
@media only  screen and (max-width: 750px){
.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
}

.container {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template:
    'empty-h    empty-h    empty-h    empty-h    empty-h' 30px
    'empty-l    emptyfl    foto       emptyfh    empty-r' 250px
    'empty-l    text       text       text       empty-r'/
    1fr         40px       250px      40px       1fr;
}
.info {
  padding: 13px;
  border-radius: 13px;
  margin-top: 30%;
  grid-area: text;
}

.foto {
  grid-area: foto;
}

.imgFoto {
  border-radius: 59px;
  width: 250px;
}

.name {
  grid-area: name;
  font-family: 'Arial Narrow Bold', sans-serif;
  color: #ffffff; /* Color de texto oscuro */
  font-size: 0.9em;
}

.title {
  color: #e15742; /* Naranja suave */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5vh;
  font-weight: 900;
}

a {
  text-decoration: none;
  font-size: 1.9vh;
    color: #fefefe;
}

.languages {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3em;
  color: #1a1a1a; /* Gris medio */
}

.auto-type {
  color: #ff5500; /* Naranja brillante */
  font-size: 3vh;
  border-bottom: 6px double #ff5500;
}

.items{
  margin-top: 30px;
  width: 40%;
    display: inline-flex;
    height: 40px;
    border-bottom: 3px double rgb(100, 166, 2);
    border-radius: 13px;
    margin-right: 9.3%;
    margin-bottom: 3px;
    transition: 1s; 
}
.items:hover{
    background-color: #ffffffdd;
    border-top: 3px  solid greenyellow;
    border-bottom: 3px solid greenyellow;
    transform: scale(1.1);
}

}

/* .main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: #000000a1;
    border: 5px solid;
    width: fit-content;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    padding: 0px 10px;
}
.foto{
    z-index: 1;
    background-image: url(../img/fotoP.jpg);
    width: 245px;
    height: 245px;
    resize: both;
    overflow: auto;
    background-repeat: round;
    border-radius: 30px;
}






.me1, .me3{
  color: #030303;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.9em;
}
.me2{
  color: rgb(142, 120, 9);
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.9em;
  font-style: oblique;
}


.menu{
    margin: 13px 0 0 0;
}
@media  screen and (max-width: 750px){
   
}
 *{
        margin: 0%;
        padding: 0ch;
    }
    .container{
        border: 3px solid;
        width: fit-content;
        border-radius: 30px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foto{
        background-image: url(../img/Snapchat-1824624242.jpg);
        width: 189px;
        height: 337px;
        resize: both;
        overflow: auto;
        background-repeat: round;
        border-radius: 30px;
    }
    .auto-type{
        color: crimson;
    }
    .title{
        font-family: Arial, sans-serif;
        font-size:3vh;
    }
    .languages{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.4em;
    }
    .items{
        font-size: 1.5vh;
        display:flex;
        height: 40px;
        width: 130px;
        justify-content: center;
        align-items: center;
        border-radius: 13px;
        margin-top: 8px;
    }
    .me1, .me3{
      color: orange;
    }
    .items:hover{
        background: linear-gradient(30deg, rgba(132, 131, 124, 0.386), rgba(144, 182, 170, 0.705));
        border: 2px solid rgba(31, 32, 35, 0.361);
    }
    .name{
        font-family:sans-serif;
        font-size: 3vh;
    } */