*{
    padding: 0%;
    margin: 0;
    overflow: auto;
}
.main-nav{
    grid-area: nav-lotus;
    width: 100%;
    height: 60px;
}
.logo-lotus{
    margin-left:  3px;
    position: absolute;
    border-radius: 10px;
}
.main_conted{
    display: grid;
    grid-template:  
                    'empty_left    nav-lotus    empty_right'
                    'empty_left    img-lotus    empty_right'
                    'empty_left    text         empty_right'/
                    1fr            900px        1fr;
}
.empty_right{
    background-color: gray;
    grid-area: empty_right;
}
.empty_left{
    background-color: gray;
    grid-area: empty_left;
}
.main-ul{
    list-style: none;
}
.img_lotus{
    width: 100%;
    grid-area:  img-lotus;

}
.style_items{
    color: rgba(41, 41, 41, 0.775);
    text-decoration: none;
    font-family: sans-serif;
    font-style: oblique;
    margin-left: 30px;
    font-weight: 100;
    font-size: 4vh;
    border-bottom: 1px solid white;
    cursor: pointer;
    
}
.style_items:hover{
    color: rgb(255, 196, 0);
    border-bottom: 3px solid orange;
}
.style-li{
    display: inline-flex;
    float: right;
    margin-right: 20px;
}
.text{
    grid-area: text;
    height: 100vh;
}
.before{
    width: fit-content;
    position: relative;
    color: rgb(222, 9, 9);
    font-size: 60px;
    bottom: 1400%;
    right: 8%;
    background-color: gray;
}
.nex{
    width: fit-content;
    position: relative;
    color: rgb(222, 9, 9);
    font-size: 60px;
    bottom:  1400%;
    left: 490%;
    background-color: gray;
}
