*{
    padding: 0%;
    margin: 0;
    overflow: auto;
}
.main-nav{
    grid-area: nav-lotus;
    width: 100%;
    height: 60px;
}
.logo-lotus{
    margin-left:  63px;
    position: absolute;
    border-radius: 10px;
}
.main_conted{
    display: grid;
    grid-template:  
                    'empty_left     before      nav-lotus   nex   empty_right'
                    'empty_left     img-lotus   img-lotus   img-lotus   empty_right'
                    'empty_left     text        text        text        empty_right'/
                    1fr             1px         900px      1px         1fr;
}
.empty_right{
    background-color: gray;
    grid-area: empty_right;
}
.empty_left{
    background-color: gray;
    grid-area: empty_left;
}
.main-ul{
    list-style: none;
}
.img_lotus{
    width: 100%;
    grid-area:  img-lotus;

}
.style_items{
    color: rgba(41, 41, 41, 0.775);
    text-decoration: none;
    font-family: sans-serif;
    font-style: oblique;
    margin-left: 30px;
    font-weight: 100;
    font-size: 4vh;
    border-bottom: 1px solid white;
    cursor: pointer;
    
}
.style_items:hover{
    color: rgb(255, 196, 0);
    border-bottom: 3px solid orange;
}
.style-li{
    display: inline-flex;
    float: right;
    margin-right: 20px;
}
.text{
    grid-area: text;
    height: 100vh;
}
.top{
    margin-left: 50%;
    position: absolute;
    color: white;
    top: 600px;
}
.nex{
    left: 700px;
    font-size: 60px;
}
.before{
    right: 1550px;
    font-size: 60px;
}

