*{
    margin: 0%;
    padding: 0%;
}
.cont{
    color: aliceblue;
    background-color: rgb(75, 73, 73);
    text-align: right;
    list-style-type: none;
}
.menu{
    display: inline-block;
    text-align: right;
    font-size: 3em;
    margin: 0% 2%;
    border: 2px solid rgb(0, 247, 255);
    border-radius: 10%;
}