*{
    margin: 0;
    padding: 0%;
}
body{
    background: linear-gradient(95deg, rgb(52, 52, 52), rgb(45, 45, 45), rgb(54, 54, 54));
}
.main-box{
    display: grid;
    grid-template:"empty1       title        empty2"
                  "emptyl       div-bottom   empty2"6px
                  "emptyb       emptyb       emptyb"30px/
                    25%         1fr          25%;
}
.title{
    grid-area: title;
    font-size: 3em;
    text-align: center;
    font-weight: 800;
    font-style: italic;
    color: #ffffff;
}
.div-bottom{
    grid-area: div-bottom;
    background-color: rgb(0, 0, 0);
    animation: colorchange 4s infinite;
    border-radius: 10px;
}
@keyframes colorchange{
    0% {
        background-color: rgb(93, 91, 91);
      }
    25%{
        background-color: rgb(184, 184, 184);
    }
    50% {
        background-color: rgb(255, 255, 255);
      }
    75%{
        background-color: rgb(184, 184, 184);
    }
      100% {
        background-color: rgb(66, 66, 66);
      }

}
.contain{
    display: grid;
    grid-template:"emptyr  menu1    emptyc   menu2       emptyf"360px
                  "emptyr  menu3    emptyc   menu4       emptyf"360px 
                  "emptyr  menu5    emptyc   menu6       emptyf"360px
                  "emptyr  menu7    emptyc   menu8       emptyf"360px
                  "emptyr  menu9    emptyc   menu10      emptyf"360px
                  "emptyr  menu11   emptyc   empty_new   emptyf"360px/
                  1fr      45%      1fr      45%         1fr;
}                 
.menu1{    
    grid-area: menu1;
    display: grid;
    grid-template:  "title-fuentes  title-fuentes    title-fuentes "
                    "emptyl         fuentes          emptyr"/
                    50px            1fr              50px;
}
.box-fuentes{
    grid-area: fuentes;
}
.title-fuentes{
    grid-area: title-fuentes ;
}
.menu2{
    grid-area: menu2;
    display: grid;
    grid-template: "title-colores  title-colores    title-colores "
                    "emptyl         colores          emptyr"/
                    50px            1fr              50px;
}
.box-colores{
    grid-area: colores;
}
.title-colores{
    grid-area: title-colores ;
}
.menu3{
    grid-area: menu3;
    display: grid;
    grid-template:  "title-enfatizar  title-enfatizar    title-enfatizar "
                    "emptyl         enfatizar          emptyr"/
                    50px            1fr              50px;
}
.box-enfatizar{
    grid-area: enfatizar;
}
.title-enfatizar{
    grid-area: title-enfatizar ;
}
.menu4{
    grid-area: menu4;
    display: grid;
    grid-template:  "title-alinear  title-alinear    title-alinear "
                    "emptyl         alinear          emptyr"/
                    50px            1fr              50px;
}
.box-alinear{
    grid-area: alinear;
}
.title-alinear{
    grid-area: title-alinear ;
}
.menu5{
    grid-area: menu5;
    display: grid;
    grid-template:  "title-imagenes  title-imagenes    title-imagenes "
                    "emptyl         imagenes          emptyr"/
                    50px            1fr              50px;
}
.box-imagenes{
    grid-area: imagenes;
}
.title-imagenes{
    grid-area: title-imagenes ;
}
.menu6{
    grid-area: menu6;
    display: grid;
    grid-template:  "title-menus  title-menus    title-menus "
                    "emptyl         menus          emptyr"/
                    50px            1fr              50px;
}
.box-menus{
    grid-area: menus;
}
.title-menus{
    grid-area: title-menus ;
}
.menu7{
    grid-area: menu7;
    display: grid;
    grid-template:  "title-contenedor  title-contenedor    title-contenedor "
                    "emptyl         contenedor          emptyr"/
                    50px            1fr              50px;
}
.box-contenedor{
    grid-area: contenedor;
}
.title-contenedor{
    grid-area: title-contenedor ;
}
.menu8{
    grid-area: menu8;
    display: grid;
    grid-template:  "title-tablas  title-tablas    title-tablas "
                    "emptyl         tablas          emptyr"/
                    50px            1fr              50px;
}
.box-tablas{
    grid-area: tablas;
}
.title-tablas{
    grid-area: title-tablas ;
}
.menu9{
    grid-area: menu9;
    display: grid;
    grid-template:  "title-formularios  title-formularios    title-formularios "
                    "emptyl         formularios          emptyr"/
                    50px            1fr              50px;
}
.box-formularios{
    grid-area: formularios;
}
.title-formularios{
    grid-area: title-formularios ;
}
.menu10{
    grid-area: menu10;
    display: grid;
    grid-template:  "title-sesion  title-sesion    title-sesion "
                    "emptyl         sesion          emptyr"/
                    50px            1fr              50px;
}
.box-sesion{
    grid-area: sesion;
}
.title-sesion{
    grid-area: title-sesion ;
}
.menu11{
    grid-area: menu11;
    display: grid;
    grid-template:  "title-botones  title-botones    title-botones "
                    "emptyl         botones          emptyr"/
                    50px            1fr              50px;
}
.box-botones{
    grid-area: botones;
}
.title-botones{
    grid-area: title-botones ;
}



.box-title{
    border-radius: 13px;
    text-align: center;
    width: 100%;
    background: linear-gradient(0deg, gray, white);
    height: 7vh;
    font-size: 5.1vh;
    font-weight: 800;
}
.box-main-menu{
    border: 1px solid white;
    height: 13em;
}

li{
    list-style-type: none;
}
.letras{
    position: relative;
    background: linear-gradient(60deg, rgb(185, 54, 156), rgba(0, 60, 255, 0.582));
    border-radius: 10px;
    border: 1px solid ;
    color: white;
    font-size: 4vh;
    height: 60px;
    display: flex;
    align-items: center;
   
}
.ft, .fd{
    font-size: 3vh;
}
a{
    text-decoration: none;
    color: rgb(10, 115, 115);
}
img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section{
    display: flex;
    width: 100%;
    height: 100%;
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
section img:hover{
    cursor: pointer;
    width: 200px;
    opacity: 1;
    filter: contrast(120%);
} 
.no-ver{
    display: none;
}