*{
    margin: 0%;
    padding: 0%;
}
h1{
    text-align: center;
}
.main-box{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
}
.box{
    width: 250px;
    height: 250px;
    margin: 100px ;
    position: static;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
    color: aliceblue;
    box-shadow: 10px 5px 8px 4px black;
}
.fixed, .style{
    width: 250px;
    height: 250px;
    color: aliceblue;
    border-radius: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
    box-shadow: 20px 10px 5px 3px rgb(0, 0, 0);

}
.c-1{
    background-color: rgb(15, 107, 50);
}
.c-2{
    background-color: rgb(24, 24, 163);
}
.c-3{
    background-color: rgb(33, 44, 34);
}
.c-4{
    background-color: rgb(77, 14, 14);
}
.box-1{
    background-color: rgb(26, 19, 32);
    position: fixed;
    right: 0px;
    bottom: 0px;
}
.box-2{
    background-color: rgb(41, 22, 22);
    position: fixed;
    top: 0px;
    left: 0px;

}
.fix{
    width: 60px;
    height: 60px;
    font-size: 50px;
    color: aliceblue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(3, 3, 3);

}
.box1{
    position: fixed;
    right: 0px;
    top: 40%;
}
.box2{
    position: fixed;
    right: 0px;
    top: 47%;
}
.box-1-abs{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 80px;
    background-color: rgb(40, 33, 102);
    color: aliceblue;
   justify-content: right;
   margin: 0px 0px 10px 0px;
}
.abs{
    margin: 3%;
}
li{
    list-style: none;
}
.relative{
    width: 300px;
    height: 300px;
    background-color: aqua;
}