.box-main-grafica{
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 600px;
}
.leyenda-barras {
    font-size: 1.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
}
.box-grafica {
    background-color: grey;
    width: 100%;
    height: 600px;
}