
*{
    margin:0;
    padding:0 ;
}
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

h1 {
  font-size: calc(15px + 10vh);
  line-height: calc(20px + 10vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  /* text-shadow: 0 0 5px #ffa5ff, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #eeff00fd, 0 0 10px #ff8d00, 0 0 98px #7ccae9;
    color: #fff6a975; */
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 100s infinite;
  /* -webkit-animation: blink 12s infinite; */
}
.click{
    position: fixed;
    bottom: -50px;
    right: -25px;
    font-size: 205x;
    text-shadow: 0 0 5px #1aff00, 0 0 15px #00ff40, 0 0 20px #4dff00, 0 0 40px #8cff00, 0 0 60px #ffffff, 0 0 10px #00ff33, 0 0 98px #ff00ff;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: blink2 5ms infinite;
    -webkit-animation: blink2 8s infinite;
    
}

body {
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
  background-image: url(img/fondo.png);
  background-repeat: no-repeat;
}
@keyframes blink {
  20%,
  24%,
  55% {
    color: #11111100;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #ffffff9e;
  }
}
@-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #000000;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #f7ff03;
    }
  }
  
  @keyframes blink2 {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #1aff00, 0 0 15px #00ff40, 0 0 20px #4dff00, 0 0 40px #8cff00, 0 0 60px #ffffff, 0 0 10px #00ff33, 0 0 98px #ff00ff;
      color: #ffffff;
    }
  }
.box-title{
    display: flex;
    position: fixed;
    top: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
/* .title{
    background: linear-gradient(80deg, rgb(54, 75, 84), rgb(84, 83, 83), rgb(38, 38, 67));
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10vh;
    color: rgb(255, 255, 255);
    font-weight: 500;
} */
a{
    text-decoration: none;
}
.si{
    width: 50vh;
    position: relative;
    right: -26%;   
    transition: 50s;
}

.no{
    display: none;
}

.letras{
    background: linear-gradient(60deg, rgb(185, 54, 156), rgba(0, 60, 255, 0.582));
    border-radius: 10px;
    border: 1px solid ;
    color: white;
    font-size: 4vh;
}
.titulos{
    color: rgb(255, 255, 255);
    display: block;
    width: 50vh;
    font-size: 5vh;
    margin-left: 30px;

}

.tareas{
    transform: rotate(-45deg);
    position: fixed;
    bottom: 150px;
    right: 60px;
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4.5vh;
}
.desplegable{
    /* background: linear-gradient(90deg, rgba(0, 255, 64, 0.541), rgba(247, 0, 255, 0.582)); */
    width: 300px;
    height: 300px;
    border-radius: 150px;
    position: fixed;
    bottom: -350px;
    right: -70px;
}
.box-titulos{
    background: linear-gradient(90deg, rgba(2, 245, 164, 0.568), rgba(0, 0, 255, 0.534));
    width: 70vh;
    border-radius: 20px;
}
.box-titulosSn{
    background: linear-gradient(90deg, rgba(2, 232, 248, 0.692), rgba(212, 0, 255, 0.459));
    width: 70vh;
    border-radius: 20px;
}
.oc{
    visibility: hidden;
}
.vi{
    visibility: visible;
    height: auto;
    transition: 4s;
}
.main{
    position: fixed;
    top: 150px;
    left: 30px; 
}
.main2{
    position: fixed;
    top: 150px;
    left: 30px;
}
.men{
    background: linear-gradient(20deg, rgba(14, 57, 199, 0.616), rgba(11, 178, 229, 0.964));
    width: 90px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
    font-weight: 900;
    transition: 400ms;
}
.men2{
    background: linear-gradient(20deg, rgba(14, 57, 199, 0.616), rgba(11, 178, 229, 0.964));
    width: 70vh;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
    font-weight: 900;
    transition: 400ms;
}

h6{
    text-align: center;
    color: rgba(0, 0, 0, 0);
}
.improvise{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: rgba(41, 41, 41, 0.151);
    width: 20px;
    height: 20px;
    border-radius: 300px;
}
.no_asunt{
    display: flex;
    justify-content: center;
    align-items: center;
}