
*{
    margin:0;
    padding:0 ;
}
body{
    background-color: rgba(0, 0, 0, 0.353);
}
.box-title{
    display: flex;
    position: fixed;
    top: 40%;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.title{
    background: linear-gradient(80deg, yellow, green, blue);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10vh;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
a{
    text-decoration: none;
}
.si{
    width: 50vh;
    position: relative;
    right: -26%;   
    transition: 50s;
}

.no{
    display: none;
}

.letras{
    background: linear-gradient(60deg, rgb(185, 54, 156), rgba(0, 60, 255, 0.582));
    border-radius: 10px;
    border: 1px solid ;
    color: white;
    font-size: 4vh;
}
.titulos{
    color: rgb(255, 255, 255);
    display: block;
    width: 50vh;
    font-size: 5vh;
    margin-left: 30px;

}

.tareas{
    transform: rotate(-45deg);
    position: fixed;
    bottom: 150px;
    right: 60px;
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4.5vh;
}
.desplegable{
    background: linear-gradient(90deg, rgba(0, 255, 64, 0.541), rgba(247, 0, 255, 0.582));
    width: 300px;
    height: 300px;
    border-radius: 150px;
    position: fixed;
    bottom: -350px;
    right: -70px;
}
.click{
    position: fixed;
    bottom: -150px;
    right: 70px;
}
.box-titulos{
    background: linear-gradient(90deg, rgba(2, 245, 164, 0.568), rgba(0, 0, 255, 0.534));
    width: 70vh;
    border-radius: 20px;
}
.box-titulosSn{
    background: linear-gradient(90deg, rgba(2, 232, 248, 0.692), rgba(212, 0, 255, 0.459));
    width: 70vh;
    border-radius: 20px;
}
.oc{
    visibility: hidden;
}
.vi{
    visibility: visible;
    height: auto;
    transition: 4s;
}
.main{
    position: fixed;
    top: 150px;
    left: 30px; 
}
.main2{
    position: fixed;
    top: 150px;
    left: 30px;
}
.men{
    background: linear-gradient(20deg, rgba(14, 57, 199, 0.616), rgba(11, 178, 229, 0.964));
    width: 90px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
    font-weight: 900;
    transition: 400ms;
}
.men2{
    background: linear-gradient(20deg, rgba(14, 57, 199, 0.616), rgba(11, 178, 229, 0.964));
    width: 70vh;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
    font-weight: 900;
    transition: 400ms;
}

h6{
    text-align: center;
    color: rgba(0, 0, 0, 0);
}
.improvise{
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: rgba(41, 41, 41, 0.151);
    width: 20px;
    height: 20px;
    border-radius: 300px;
}
.no_asunt{
    display: flex;
    justify-content: center;
    align-items: center;
}